{% extends 'base.html' %} {% block content %}
<!-- slider section -->

<!-- end slider section -->

<!-- welcome section -->
<section class="welcome_section layout_padding">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div>
          <img class="img-fluid" src="../static/images/welcome.jpg" alt="" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="welcome_detail">
          <h3>Shieldguard</h3>
          <h2>About Us</h2>
          <p style="text-align: justify">
            Shieldguard Security is a professional indigenous security firm
            registered by the Ministry of Home Affairs (CPI) in terms of the
            Private Investigators and Security Guards Control Act (Chapter
            27:10) and seeks to be a member of the Security Association of
            Zimbabwe.
          </p>
          <p style="text-align: justify">
            The company seeks to be among the leading providers of premium,
            top-notch security services in the banking sector, agricultural
            sector, mining sector, construction sector, transport sector,
            manufacturing, tourism, education, and medical sector, with a large
            workforce of guards. Shieldguard is able to provide properly trained
            and supervised security staff. All security staff has a military,
            police, or security background. They work to the guidelines
            contained in the company’s Standard Operational Procedures for
            Security and Fire
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container">
<h3>Our security guards are trained in the following tasks:</h3>
</div>

<br>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-12 col-sm-6 col-xl-6 col-xxl-6">
      <ul style="margin-left: 10px;">
        <li>1.  Gatehouse duties</li>
        <li>2.  Access control of staff, visitors, and vehicles</li>
        <li>3.  Static guard post</li>
        <li>4.  Mobile patrols - by foot or vehicles</li>
        <li>5.  Specialized observation patrols</li>
        <li>6.  Key registers and control of keys</li>
        <li>7.  Conduct Fire Drills</li>
      </ul>
    </div>

    <div class="col-md-6 col-12 col-sm-6 col-xl-6 col-xxl-6">
      <ul style="margin-left: 10px;">
        <li>8.  Searches in-coming and out-going vehicle and personnel</li>
        <li>9.  Accident prevention and safety reports</li>
        <li>10.  Traffic control - Parking, Vehicle security</li>
        <li>11.  Reception duties, Logging of visitors</li>
        <li>12.  Event Security Management</li>
        <li>13.  First Aid and Fire Prevention</li>
        <li>14.  Patrolling during night house within facilities.</li>
        <li>15.  Maintain mail management and distribution system</li>
      </ul>
    </div>

  </div>
</div>

<!-- end welcome section -->

{% endblock %}
